<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FalconICPServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <targets>
            <target name="console" xsi:type="Console" layout="${longdate}|${level}|${message}"/>
            <target name="errorfile" xsi:type="File" layout="${longdate}|${logger}|${level}| ${stacktrace} | ${message}" fileName="${basedir}/log.txt" archiveFileName="${basedir}/log.{#}.txt" archiveAboveSize="102400" archiveNumbering="Rolling" maxArchiveFiles="1" concurrentWrites="false" keepFileOpen="false" encoding="utf-8"/>
            <target name="file" xsi:type="File" layout="${longdate}|${logger}|${level}| ${message}" fileName="${basedir}/log.txt" archiveFileName="${basedir}/log.{#}.txt" archiveAboveSize="102400" archiveNumbering="Rolling" maxArchiveFiles="1" concurrentWrites="false" keepFileOpen="false" encoding="utf-8"/>
        </targets>
        <rules>
            <!-- RELEASE
            <logger name="*" minlevel="Info" maxlevel="Warn" writeTo="file" />
            <logger name="*" minlevel="Error" writeTo="errorfile" />
            -->
            <logger name="*" minlevel="Debug" writeTo="console"/>
        </rules>
    </nlog>
    <userSettings>
        <FalconICPServer.Properties.Settings>
            <setting name="RunServerOnLaunch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LaunchAtWindowsStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeToSystemTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>30456</value>
            </setting>
            <setting name="UpdatePeriod" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="LaunchMinimized" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Priority" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="KeyfilePath" serializeAs="String">
                <value/>
            </setting>
        </FalconICPServer.Properties.Settings>
    </userSettings>
</configuration>
