<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FalconICPServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FalconICPServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <FalconICPServer.Properties.Settings>
            <setting name="RunServerOnLaunch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LaunchAtWindowsStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeToSystemTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>30456</value>
            </setting>
            <setting name="UpdatePeriod" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="LaunchMinimized" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Priority" serializeAs="String">
                <value>Normal</value>
            </setting>
        </FalconICPServer.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <FalconICPServer.Properties.Settings>
            <setting name="KeyfilePath" serializeAs="String">
                <value>D:\Gry\Falcon BMS 4.32\User\Config\BMS.key</value>
            </setting>
        </FalconICPServer.Properties.Settings>
    </applicationSettings>
</configuration>
